{% extends "base.html" %}
{% load static %}
{% block title %} Play Game {% endblock %}

{% block content %}
<div class="game-container">
    <div class="chat-container box">
        <div id="chat-box" class="chat-container box">Game Chat</div>
    </div>
    <div class="board-container box">
        <p class="info-box">Turn: <span id="turn-display">{{ context.turn }}</span></p>
        <div id="endgame-message" class="endgame-message" style="display: none;">
            {{ context.endgame_message }}
        </div>
        <div id="chess-container">
            <div id="chess-table">
                {{ context.html_table|safe }}
            </div>
        </div>
        <div id="promotion-container"></div>
    </div>
    <div class="timer-container box">
        <div id="timers">
            <div class="time-format-box">Time Format: {{context.duration}}+{{context.increment}}</div>
            <div class="username-box">White: {{ context.white_username }}</div>
            <div id="white-timer" class="timer white-timer">{{context.duration}}</div>
            {% if not context.is_active %}
            <a href="{% url 'analyse_game' game_id=context.game_id %}" class="game-button">Analyse Game</a>
            {% else %}
            <button id="resign-button" class="action-button">Resign</button>
            <button id="offer-draw-button" class="action-button">Offer Draw</button>
            {% endif %}
            <div id="black-timer" class="timer black-timer">{{context.duration}}</div>
            <div class="username-box">Black: {{ context.black_username }}</div>
        </div>
    </div>
</div>

<input type="hidden" id="game_id" value="{{ context.game_id }}">
<input type="hidden" id="user_role" value="{{ context.user_role }}">
<input type="hidden" id="turn" value="{{ context.turn }}">
<input type="hidden" id="initial_white_time" value="{{ context.duration }}">
<input type="hidden" id="initial_black_time" value="{{ context.duration }}">
<input type="hidden" id="time_increment" value="{{ context.increment }}">
<input type="hidden" id="is_active" value="{{ context.is_active }}">

<script src="{% static 'js/chess_interactions.js' %}"></script>
<script src="{% static 'js/timer.js' %}"></script>
{% endblock %}
