<style>
td {
    width: 64px;
    height: 64px;
    position: relative;
}
img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
</style>

<td bgColor="#{{ bgcolor }}" data-position="{{ r_ind }}{{ s_ind }}" >
{% with folder="/static/chess/pieces/" %}
{% if square == 'bP' %}
        <img src="{{ folder }}bP.svg" id="{{ r_ind }}{{ s_ind }}" draggable="true" data-color="black"/>
{% endif %}
{% if square == 'bR' %}
        <img src="{{ folder }}bR.svg" id="{{ r_ind }}{{ s_ind }}" draggable="true" data-color="black"/>
{% endif %}
{% if square == 'bN' %}
        <img src="{{ folder }}bN.svg"  id="{{ r_ind }}{{ s_ind }}" draggable="true" data-color="black"/>
{% endif %}
{% if square == 'bB' %}
        <img src="{{ folder }}bB.svg" id="{{ r_ind }}{{ s_ind }}" draggable="true" data-color="black"/>
{% endif %}
{% if square == 'bQ' %}
        <img src="{{ folder }}bQ.svg" id="{{ r_ind }}{{ s_ind }}" draggable="true" data-color="black"/>
{% endif %}
{% if square == 'bK' %}
        <img src="{{ folder }}bK.svg" id="{{ r_ind }}{{ s_ind }}" draggable="true" data-color="black"/>
{% endif %}
{% if square == 'wP' %}
        <img src="{{ folder }}wP.svg" id="{{ r_ind }}{{ s_ind }}" draggable="true" data-color="white"/>
{% endif %}
{% if square == 'wR' %}
        <img src="{{ folder }}wR.svg" id="{{ r_ind }}{{ s_ind }}" draggable="true" data-color="white"/>
{% endif %}
{% if square == 'wN' %}
        <img src="{{ folder }}wN.svg" id="{{ r_ind }}{{ s_ind }}" draggable="true" data-color="white"/>
{% endif %}
{% if square == 'wB' %}
        <img src="{{ folder }}wB.svg" id="{{ r_ind }}{{ s_ind }}" draggable="true" data-color="white"/>
{% endif %}
{% if square == 'wK' %}
        <img src="{{ folder }}wK.svg" id="{{ r_ind }}{{ s_ind }}" draggable="true" data-color="white"/>
{% endif %}
{% if square == 'wQ' %}
        <img src="{{ folder }}wQ.svg" id="{{ r_ind }}{{ s_ind }}" draggable="true" data-color="white"/>
{% endif %}

{% endwith %}
</td>
