body {
    font-family: sans-serif;
    color: #543310;
    background-color: #F8F4E1;
}

html, body {
    margin: 0;
    padding: 0;
}

.move-dot {
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.highlight-red {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.3); /* Transparent red */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.checkmate-message {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: red;
}