body {
    font-family: sans-serif;
    color: #543310;
    background-color: #F8F4E1;
}

html, body {
    margin: 0;
    padding: 0;
}

.move-dot {
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.highlight-red {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.3); /* Transparent red */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.checkmate-message {
    font-size: 24px;
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.game-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
    height: 100vh;
    background-color: #F8F4E1;
}

.chat-container, .board-container, .timer-container {
    background-color: #F8F4E1;
    padding: 10px;
    overflow-y: auto;
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer {
    font-size: 2em;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
}

.white-timer {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.black-timer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}
