{% extends "base.html" %}

{% block title %} Add Players {% endblock %}

{% block content %}
<div class="welcome-content">
    <h1>Add Players to {{ tournament.name }}</h1>
    <form method="post" class="game-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_user" class="center-label">Select a player:</label>
            {{ form.user }}
        </div>
        <button type="submit" class="game-button">Add Player</button>
    </form>
    <p>
        <a href="{% url 'tournament_info' tournament.id %}" class="back-button">Back</a>
    </p>
</div>
{% endblock %}
