{% extends "base.html" %}

{% block title %} Tournaments {% endblock %}

{% block content %}
<div class="welcome-content">
    <h1>Tournaments</h1>
    <ul>
        {% for tournament in tournaments %}
        <li>
            <a href="{% url 'tournament_info' tournament.id %}">
                {{ tournament }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <p>
        <a href="{% url 'create_tournament' %}" class="game-button">Create Tournament</a>
    </p>
</div>
{% endblock %}
