{% extends "base.html" %}

{% block title %} Welcome {% endblock %}

{% block content %}
<div class="welcome-content">
    <h1>UNICHESS</h1>
    <p>
       <a href="{% url 'game_create' %}" class="button-common"> NEW GAME </a>
    </p>
    <p>
       <a href="{% url 'games' %}" class="button-common"> GAMES </a>
    </p>
    <p>
       <a href="{% url 'tournaments' %}" class="button-common"> TOURNAMENTS </a>
    </p>
    {% if user.is_authenticated %}
    <p>
       <a href="{% url 'profile' user_id=user.id %}" class="button-common"> PROFILE </a>
    </p>
    {% endif %}
</div>
{% endblock %}
