{% extends "base.html" %}

{% block title %} Welcome {% endblock %}

{% block content %}
<div class="welcome-content">
    <h1>Play Online Chess on UniChess!</h1>
    <p>
        This is a demo application which will support a fully working online chess application.
    </p>
    <p>
       <a href="{% url 'game_create' %}" > NEW GAME </a>
    </p>
    <p>
       <a href="{% url 'games' %}" > GAMES </a>
    </p>
    <p>
       <a href="{% url 'tournaments' %}" > TOURNAMENTS </a>
    </p>
    {% if user.is_authenticated %}
    <p>
       <a href="{% url 'profile' user_id=user.id %}" > PROFILE </a>
    </p>
    {% endif %}
</div>
{% endblock %}
