{% load static %}
<link rel="stylesheet" href="{% static 'website/style.css' %}">
{% block content %}
<div class="auth-page">
    <h1 class="main-title">UNICHESS</h1>
    <h2 class="subtitle">Play Online Chess!</h2>
    <div class="auth-container">
        <div class="auth-box">
             {% if form.errors %}
                <div class="error-message">
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error|escape }}</li>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.username.label_tag }} {{ form.username }}
                </div>
                <div class="form-group">
                    {{ form.password.label_tag }} {{ form.password }}
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="auth-button">
                </div>
            </form>
            <p class="register-link">Don't have an account?</p>
            <p class="register-link"><a href="{% url 'register' %}">Create a new account here!</a></p>
        </div>
    </div>
</div>
{% endblock %}
