{% extends "base.html" %}

{% block title %} {{game.title}} {% endblock %}

{% block content %}
    <p>Tournament: <b>{{game.tournament.name}} with prize: <b>{{game.tournament.prize}}</b></b></p>
    <p>White: <b>{{game.white}}</b></p>
    <p>Black: <b>{{game.black}}</b></p>
    <p>Result: <b>{{game.result}} wins!</b></p>
    <p>Duration: <b>{{game.duration}}</b></p>

    <p>
       <a href="{% url 'home' %}"> HOME </a>
    </p>
    <p>
       <a href="{% url 'games' %}"> GAMES </a>
    </p>

{% endblock %}